/*************************************************** ESPECIFICACOES  ***************************************************/
/* Define tamanho minimo para cada item */
@media (max-width: 956px){
  div ul#accessibility {
    width: 100%;
    text-align: center;
  }
  div #portal-siteactions{
    min-width: 49%;
    text-align: left;
  }
  div #portal-lang{
    min-width: 49%;
    text-align: right;
  }
}

@media (max-width: 687px){
  div #portal-siteactions {
    width: 100%;
    text-align: center;
  }
  div #portal-lang{
    width: 100%;
    text-align: center
  }
}

@media (max-width: 350px){
  div.header-content #portal-siteactions {
    display: none;
  }
  ul#duvidas,div#sobre{
    display: none;
  }
  ul#lista-barra-brasil{
    display: none;
  }
  a#barra-brasil-orgao{
    display: none;
  }
}

@media (max-width: 513px){
  div.header-content #accessibility {
    display: none;
  }
  ul#sobre-portal{
    display: none;
  }
  #content .youtube-block, #content .twitter-block {
    width: 100%;
  }
}

@media (max-width: 603px){
  div#banner{
    flex-direction: column;
  }
  div#logo {
    width: 100%;
    text-align:center;
    margin: 22px 0px;
  }
  div#searchbox-and-social {
    width: 100%;
  }
  div#searchbox-and-social div{
    justify-content: center;
    margin: 5px 0px;
  }

  span#portal-description{
    display: none;
  }

  div#logo{
    margin: 10px 0px 0px 0px;
  }

  div#logo h1#portal-title{
    margin: 0px;
  }
}

@media (max-width: 887px){
  div#sobre div{
    flex-direction: column;
    text-align: center;
  }
  ul#duvidas{
    width: 100%;
    text-align: center;
  }
  ul#sobre-portal{
    width: 100%;
    text-align: center;
  }
}

.controller-cms .with_media_panel {
  float: none;
}

/******************************************** HEADER-CONTENT ************************************/
#navigation {
  justify-content: flex-end;
}

#navigation #site-title{
  display: none;
}

#navigation #navigation-actions{
  margin-right: 4%;
}

#boxes{
  margin: 0px 1%;
}

#profile-header{
  max-height: none;
} 

#profile-header img {
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#theme-header *{
  text-decoration: none !important;
}

/***** TOP-HEADER *****/
/* BARRA AZUL */
#top-header {
  background: #204A87;
  line-height: 30px;
}

#top-header > div {
  max-width: 85%;
  margin: 0px auto;
}

#top-header > div > ul {
  display: inline-block;
}

/* ACESSIBILIDADE */
#accessibility {
  text-align: left;
  font-family: arial;
  font-size: 10px;
  width: 50%
}

#accessibility a {
  color: #FFF;
  margin-right: 10px;
}

#accessibility span {
  background: none repeat scroll 0 0 #545;
  color: #FFFFFF;
  padding: 0 4px;
}

/* SITE-ACTIONS */
#portal-lang,
#portal-siteactions {
  text-align: right;
}

#portal-lang{
  width: 10%;
}

#portal-siteactions{
  width: 39%;
}

#portal-lang a,
#portal-siteactions a {
  border-bottom: 1px dotted #FFF;
  color: #FFF;
  font-size: 0.93em !important;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin-right: 5px;
}

#portal-lang a:hover,
#portal-siteactions a:hover {
  color: #F1CA7F;
}

#portal-lang li,
#portal-siteactions li {
  display: inline;
}

#accessibility a:hover,
#portal-lang li a:hover,
#portal-siteactions li a:hover {
  color: #F1CA7F;
}

/********* HEADER ***********/
#header {
  min-height: 160px;
  /* max-height: 140px; */
  /* height: 140px; */
  background: #007E29 url('images/bg-juventude.jpg') top center repeat;
  /* background: #135f0e; */
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.header-content * {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.header-content li {
  display: inline;
}

/* ----------------- BANNER/LOGO ----------------- */
#banner {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 50%;
  margin-top: 22px;
  order: 1;
}

#logo a, #logo #portal-title {
  color: #FFF;
}

#logo #portal-title {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo .luongo {
  font-size: 3em !important;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

#logo #portal-description {
  font-size: 1.2em;
  text-transform: uppercase;
}
/* ----------------- Searchbox e Social ----------------- */
#searchbox-and-social{
  order:2;
  width: 50%;
}

#searchbox-and-social div{
  display: flex;
  justify-content: flex-end;
}

/* ----------------- Searchbox ----------------- */
.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#searchbox{
  order: 1;
  width: 100%;
  height: 50%;
}

#portal-searchbox {
  margin-top: 30px;
  width: 179px;
  font-size: 80%;
  text-align: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #CCCCCC;
  background: #fff;
  padding: 2px;
}

#portal-searchbox .searchField {
  padding: 0.45em;
  border-right: none;
  border: none;
  width: 140px;
}

#portal-searchbox form {
  white-space: nowrap;
}

#portal-searchbox label {
  font-weight: normal;
}

#searchGadget {
  width: 13em;
}

#header input.searchButton {
  padding: 0.3em;
  background: transparent;
  text-indent: -2000px;
  padding: 4px 15px;
  border: none;
}

#content input.searchField {
  margin-bottom: 1em;
}

input.searchField {
  -moz-appearance: searchfield;
}

#header input.searchButton {
  background-image: url("images/search-button.gif");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/* ----------------- Social-Icons ----------------- */
#social{
  order: 2;
  width: 100%;
  height: 50%;
}

#social-icons {
  margin-top: 10px;
}

#social-icons ul {
  display: table-row;
}

#social-icons li a {
  border: none;
  width: 20px;
  height: 20px;
  padding: 0px 2px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

#social-icons #sb_face {
  background-image: url(images/icone-branco-facebook.png);
}
#social-icons #sb_tweet {
  background-image: url(images/icone-branco-twitter.png);
}
#social-icons #sb_youtb {
  background-image: url(images/icone-branco-youtube.png);
}
#social-icons #sb_flickr {
  background-image: url(images/icone-branco-flickr.png);
}

#social-icons li a:hover {
  background-position: 0px 0px;
}

#social-icons span { display: none; }
/************************************************** FIM HEADER *************************************************/

#theme-header .header-content #link-faq a {
  border-right: 1px solid #00500f;
  padding: 0 10px;
}
#theme-header .header-content #link-contact a {
  padding-left: 10px;
}

#theme-header #sobre {
  line-height: 20px;
  font-size: 12px;
}

/*************************************************** Sobre ***************************************************/
#sobre {
  clear: both;
  max-width: 100%;
  margin: 0;
  background: #007E29;
  padding: 5px 0;
}

#sobre > div {
  display: flex;
  flex-direction: row;
  max-width: 85%;
  margin: 0px auto;
}

#sobre a {
  color: #FFF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 0 10px;
  border-right: 1px solid #FFF;
}

#sobre a:hover {
  color: #F1CA7F;
}

#sobre .last-item a {
  padding: 0 0 0 10px;
  border-right: none;
}

/*-------------------- sobre-portal -------------------*/
#sobre-portal {
  order: 1;
  width: 60%;
  justify-content: flex-start;
}

/*-------------------- duvidas -------------------*/
#duvidas{
  order: 2;
  width: 40%;
  margin-right: 20px;
  text-align: right;
  justify-content: flex-end;
}

/*************************************************** FIM Sobre ***************************************************/

#LSResult {
  z-index: 1;
  margin-top: 0.5%;
}

#wrap-2 {
  margin-top: 0px !important;
  padding-top: 0px !important;

}

/*************************************************** Blocos *****************************************************/
#wrap-2 .block-title{
  border-bottom: none;
  padding: 8px 8px 24px 10px;
  margin-bottom: 0;
}

div .block-title{
  background: #eeefff;
  border-top: 4px solid #757575;
  color: #757575;
  margin-bottom: 0;
}

#wrap-2 .link-list-block {
  margin-bottom: 40px;
  padding: 10px;
}

#wrap-2 .link-list-block ul li {
  margin: 0px;
}


#wrap-2 .link-list-block li a {
  color: #436976;
}

.box-3 .display-content-block ul li div a{
  color: #204A87;
  font-size: 1.06em;
  font-weight: bold;
}

#wrap-2 .link-list-items li a.link-list-icon {
  padding: 0px;
}

#wrap-2 .link-list-items li a.no-icon i.fa-no-icon {
  display: none;
}

#box-1 .communities-block .vcard a{
  height: auto;
}

#box-1 .common-profile-list-block{
  margin: 0px;
}

#wrap-2 #content .people-block .common-profile-list-block .vcard{
  width: 50px;
  min-width: 50px;
  
}

#wrap-2 #box-1 .people-block .vcard a{
  height: auto;
  width: 100%;
}

#box-1 .people-block .vcard a span{
  display: none;
}

/*---------- TITULOS BLOCOS INTERNOS  ---------- */

#content .box-1 .block-title {
  background: url("images/bg-titulo-interno.png") repeat-x scroll 0 0 #FFF;
  border-top: 0px solid #757575;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
}

#content .box-1 .block-title span {
  background-color: #fff;
  padding: 0 1em 0 0;
}

.blocks .block-footer-content a.view-all {
  background: url("images/button-read-more-vazio.png") no-repeat scroll left 50% transparent;
  color: #333;
  font-weight: bold;
  padding: 10px 20px 10px 50px;
}

/*---------------- REVISAR PEOPLE-BLOCK -----------------*/
#content .box-1 .people-block ul.common-profile-list-block{
  display: flex;
}

.people-block .block-footer-content a.view-all{
    position: relative;
}

/*---------- VIDEO E TWITTER  ---------- */
.youtube-block, .twitter-block {
  width: 49%;
  display: inline-block;
}

.twitter-block .ui-widget-content{
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding-bottom: 0px;
}

.youtube-block .block-title{
  display: none;
}

/*---------- Ultimas noticias  ---------- */
.blog-post .blog-post-inner div.short-post, div.article-comments-and-followers, span.author, br{
  display: none;
}

#content .blog-post-inner .title{
  border-bottom: 1px solid #DFDFDF;
  font-size: 1.06em;
  padding: 0.5em;
  margin: 0;
  text-transform: none;
}

#content .blog-post .title a {
  color: #204A87;
}

#content div.blog-posts div.blog-post{
  border-bottom: 0px;
}

/************************************************ Footer - Rodapé ************************************************/
#theme-footer {
  width: 100%;
}

#theme-footer .footer-inner {
  max-width: 960px;
  margin: 0 auto;
}

#voltar-topo {
  margin: 0 auto;
  text-align: right;
  padding: 0.5em;
  font-size: 13px;
}

#voltar-topo .ui-icon-triangle-2-s {
  float: right;
}

#footer-content {
  background: #FFF;
  text-align: left;
}

#footer-columns {
  background: #007E29;
  color: #FFF;
  float: none;
  font-size:10px;
  padding:1em 0;
  width: 100%;
}

#footer-columns dl {
  margin: 0.5em 0px;
  border-left: 1px dotted #FFF;
}

#footer-columns .column {
  float: left;
  margin: 0px 2em;
  text-align: left;
}

#footer-columns dt {
  padding-left: .6em;
  font-size: 2em;
  font-weight: bold;
  color: #F1CA7F;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

#footer-columns dd {
  margin: 0px;
  padding: .5em 1.2em 0 1.2em;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

#footer-columns dd a {
  color: #FFF !important;
  font-size: 1.4em;
}

#footer-columns dd a:hover {
  color: #F1CA7F !important;
}

#footer-columns.columns-4 .column {
  width: 22%;
}

#footer-logos {
  background: #204a87;
  max-width: 100%;
  padding: 2em 0;
  height: 49px;
}

#footer-logos a {
  display: block;
  height: 49px;
  float: left;
}

#user .signup, #user .or,
#footer-logos span {
  display: none;
}

#footer-logos .logo-acesso {
  background: transparent url(images/acesso-a-informacao.png) center center no-repeat;
  width: 107px;
}

#footer-logos .logo-brasil {
  width:155px;
  background: url(images/logo-brasil.svg) center no-repeat;
  height:48px
}

#footer-logos .logo-sgpr {
  background: transparent url(images/logof-sgpr.png) center center no-repeat;
  width: 170px;
  margin-right: 5px;
}

#footer-logos .logo-snj {
  background: transparent url(images/logof-snj.png) center center no-repeat;
  width: 140px;
  margin-right: 5px;
}

#footer-logos .logo-conjuve {
  background: transparent url(images/logof-conjuve.png) center center no-repeat;
  width: 140px;
  margin-right: 5px;
}

#footer-logos .institucionais {
  float: right;
}

#footer-license {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  padding: 19px;
}

#footer-license p {
  color: #545454;
  text-align: center;
}

#footer-license p.addrs {
  font-size: 1.3em;
  line-height: 1.3em;
}
