/************* Contraste *************/
body.contraste #footer-columns,
body.contraste #sobre{
    background: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

body.contraste a.view-all{
    color: black !important;
}

body.contraste #voltar-topo a
{
    color: white;
}

body.contraste,
body.contraste #wrap-2,
body.contraste #header,
body.contraste #sobre,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste #em-destaque ul,
body.contraste #em-destaque li#em-destaque-titulo,
body.contraste .outstanding-header .outstanding-title,
body.contraste .audiogallery-tile,
body.contraste .videogallery-tile,
body.contraste ul.css-tabs a,
body.contraste .timeline,
body.contraste .timeline a {
	background: #000;
	color: #fff;
}

body.contraste #barra-psocial #cat_menu {
	background-image: url("images/logo-PS-barra-pb.png");
}

body.contraste #user {
	background: #000 !important;
	color: #FFF;
}

body.contraste #user a,
body.contraste #user a strong{
	color: #ffff00;
}

body.contraste #content .box-2 .tags-block .block-footer-content a,
body.contraste #content .box-2 .people-block .block-footer-content a,
body.contraste #content .box-2 .profile-list-block .block-footer-content a,
body.contraste #content .box-2 .enterprises-block .block-footer-content a,
body.contraste #content .box-2 .members-block .block-footer-content a,
body.contraste #content .box-2 .communities-block .block-footer-content a,
body.contraste #content .box-2 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a
{
    background-image: none;
	 background-color: #333;
	 color: #ffff00;
}

body.contraste.action-home-index #content .article-block .short-post .read-more a,
body.contraste #content .box-1 .tags-block .block-footer-content a,
body.contraste #content .box-1 .people-block .block-footer-content a,
body.contraste #content .box-1 .profile-list-block .block-footer-content a,
body.contraste #content .box-1 .enterprises-block .block-footer-content a,
body.contraste #content .box-1 .members-block .block-footer-content a,
body.contraste #content .box-1 .communities-block .block-footer-content a,
body.contraste #content .box-1 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a
{
    background: url("images/button-read-more-vazio-contraste.png") no-repeat scroll left 50% #333;
	 color: #ffff00;
	 border:0;
	 border-radius:0;
}

body.contraste a,
body.contraste #accessibility a,
body.contraste #portal-siteactions a,
body.contraste #logo a,
body.contraste #logo #portal-title,
body.contraste #sobre a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste #plone-document-byline,
body.contraste #doormat-container dt,
body.contraste #content .documentDescription,
body.contraste #content #description,
body.contraste .nitfByline,
body.contraste p.section,
body.contraste .track_list .item_card .track_stats .hits .label,
body.contraste .track_list .item_card .track_stats .comments .label,
body.contraste.action-home-index #content .display-content-block .lead p,
body.contraste.action-environment_design-index #content .display-content-block .lead p,
body.contraste.action-home-index #content .display-content-block .published-at,
body.contraste.action-environment_design-index #content .display-content-block .published-at {
	color: #fff;
}

body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a,
body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a:visited,
body.contraste #content a:link,
body.contraste #content a:link,
body.contraste #content a:visited,
body.contraste #content a {
    color: #ffff00;
}


body.contraste.action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste.action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,

body.contraste #content .display-content-block .title a,
body.contraste #content .track_list .item_card .track_content .name,
body.contraste .action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste .action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste #content .track_list .item .track_content .lead a {
    color: #ffff00;
}


body.contraste.action-home-index #wrap-2,
body.contraste.action-environment_design-index #wrap-2  {
	background-image: none;
}

body.contraste.action-home-index .block .block-inner-2,
body.contraste.action-environment_design-index .block .block-inner-2,
body.contraste.action-home-index #content .tags-block .block-inner-2,
body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
    background-color: #333;
}

body.contraste.action-home-index .community-track-plugin_track-card-list-block .block-inner-2 {
	background-image: none;
   background-color: #fff;
}


body.contraste.action-home-index #content .tags-block .block-inner-2, body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
    border-top: 1px solid #fff;
}

body.contraste.action-home-index #content .box-1 .block-title span, body.contraste.action-environment_design-index #content .box-1 .block-title span {
    color: #000;
    background-color: white;
}

body.contraste #accessibility span {
	background: #fff !important;
	color: #000 !important;
}

body.contraste #content .box .block-title {
    background-color: #333;
}

body.contraste.action-home-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-environment_design-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-home-index #content .box .block-title,
body.contraste.action-environment_design-index #content .box .block-title,
body.contraste .container-block-plugin_container-block .block .block-inner-2,
body.contraste #footer-content {
    background-color: transparent;
}

body.contraste #content .link-list-block li a {
    background-color: #EEEFFF;
    background-color: #000;
	 color: white;
}

body.contraste #content .link-list-block li a.link-this-page,
body.contraste #content .link-list-block li a:hover {
    background-color: #333;
	 color: #ffff00;
}

body.contraste #content .profile-info-options input.button.with-text,
body.contraste #content .profile-info-options a.button.with-text{
    background-color: #333;
	 color: #ffff00;
}

body.contraste.action-content_viewer-view_page #content .box-1 .block-title span {
	background-color: #000;
	color: white;
}

body.contraste #content .article-comment {
    background: none repeat scroll 0 0 #000;
}

body.contraste #comments_list .comment-info,
body.contraste #comments_list .comment-created-at,
body.contraste #footer-license a,
body.contraste #footer-license p{
	color: white;
}

body.contraste #comments_list .comment-wrapper-8 {
    background-color: #000000;
    background-image: none;
    border: 1px solid #DDDDDD;
}

body.contraste #comments_list a.display-comment-form,
body.contraste #content input.button, body.contraste #content a.button {
    background-color:#333;
}

body.contraste #content .recent-documents-block li{
    background-color:#000;
}

body.contraste #content .track_list .item_card,
body.contraste #content .track_list .item_card .track_stats .comments .counter,
body.contraste #content .track_list .item_card .track_stats .hits .counter {
	background-color: #333;
	color: #fff;
}
body.contraste #content .track_list .item_card .track_content .lead {
	color: #fff;
}

body.contraste .ui-widget-content {
	background-color: #000;
	color: #fff;
}

body.contraste .ui-state-active,
body.contraste .ui-widget-content .ui-state-active,
body.contraste .ui-widget-header .ui-state-active {
	 background-image: none;
	 background-color: #000;
}

body.contraste #footer-logos {
    background-color: #222;
}

body.contraste #theme-header .header-content #link-faq a {
    border-right: 1px solid #ffF;
}

body.contraste #portal-siteactions {
    border-bottom: 1px dotted #fff;
}

body.contraste #social-icons #sb_face {
    background-image: url("images/icone-branco-facebook.png");
}
body.contraste #social-icons #sb_face:hover {
    background: url("images/icone-branco-facebook.png") 0 20px;
}

body.contraste #social-icons #sb_youtb {
    background-image: url("images/icone-branco-youtube.png");
}
body.contraste #social-icons #sb_youtb:hover {
    background: url("images/icone-branco-youtube.png") 0 20px;
}

body.contraste #social-icons #sb_tweet {
    background-image: url("images/icone-branco-twitter.png");
}
body.contraste #social-icons #sb_tweet:hover {
    background: url("images/icone-branco-twitter.png") 0 20px;
}

body.contraste #social-icons #sb_flickr {
    background-image: url("images/icone-branco-flickr.png");
}
body.contraste #social-icons #sb_flickr:hover {
    background: url("images/icone-branco-flickr.png") 0 20px;
}
body.contrast #footer-content *,
body.contrast #top-header { background: #000; color: #FFFFFF !important; }
/************* Contraste *************/


body.contraste,
body.contraste #wrap-2,
body.contraste #header,
body.contraste #sobre,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste #em-destaque ul,
body.contraste #em-destaque li#em-destaque-titulo,
body.contraste .outstanding-header .outstanding-title,
body.contraste .audiogallery-tile,
body.contraste .videogallery-tile,
body.contraste ul.css-tabs a,
body.contraste .timeline,
body.contraste .timeline a {
	background: #000;
	color: #fff;
}

body.contraste #barra-psocial #cat_menu {
	background-image: url("images/logo-PS-barra-pb.png");
}

body.contraste #user {
	background: #000 !important;
	color: #FFF;
}

body.contraste #user a,
body.contraste #user a strong{
	color: #ffff00;
}

body.contraste #content .box-2 .tags-block .block-footer-content a,
body.contraste #content .box-2 .people-block .block-footer-content a,
body.contraste #content .box-2 .profile-list-block .block-footer-content a,
body.contraste #content .box-2 .enterprises-block .block-footer-content a,
body.contraste #content .box-2 .members-block .block-footer-content a,
body.contraste #content .box-2 .communities-block .block-footer-content a,
body.contraste #content .box-2 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a
{
    background-image: none;
	 background-color: #333;
	 color: #ffff00;
}

body.contraste.action-home-index #content .article-block .short-post .read-more a,
body.contraste #content .box-1 .tags-block .block-footer-content a,
body.contraste #content .box-1 .people-block .block-footer-content a,
body.contraste #content .box-1 .profile-list-block .block-footer-content a,
body.contraste #content .box-1 .enterprises-block .block-footer-content a,
body.contraste #content .box-1 .members-block .block-footer-content a,
body.contraste #content .box-1 .communities-block .block-footer-content a,
body.contraste #content .box-1 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a
{
    background: url("images/button-read-more-vazio-contraste.png") no-repeat scroll left 50% #333;
	 color: #ffff00;
	 border:0;
	 border-radius:0;
}

body.contraste a,
body.contraste #accessibility a,
body.contraste #portal-siteactions a,
body.contraste #logo a,
body.contraste #logo #portal-title,
body.contraste #sobre a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste #plone-document-byline,
body.contraste #doormat-container dt,
body.contraste #content .documentDescription,
body.contraste #content #description,
body.contraste .nitfByline,
body.contraste p.section,
body.contraste .track_list .item_card .track_stats .hits .label,
body.contraste .track_list .item_card .track_stats .comments .label,
body.contraste.action-home-index #content .display-content-block .lead p,
body.contraste.action-environment_design-index #content .display-content-block .lead p,
body.contraste.action-home-index #content .display-content-block .published-at,
body.contraste.action-environment_design-index #content .display-content-block .published-at {
	color: #fff;
}

body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a,
body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a:visited,
body.contraste #content a:link,
body.contraste #content a:link,
body.contraste #content a:visited,
body.contraste #content a {
    color: white;
}


body.contraste.action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste.action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,

body.contraste #content .display-content-block .title a,
body.contraste #content .track_list .item_card .track_content .name,
body.contraste .action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste .action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste #content .track_list .item .track_content .lead a {
    color: #ffff00;
}


body.contraste.action-home-index #wrap-2,
body.contraste.action-environment_design-index #wrap-2  {
	background-image: none;
}

body.contraste.action-home-index .block .block-inner-2,
body.contraste.action-environment_design-index .block .block-inner-2,
body.contraste.action-home-index #content .tags-block .block-inner-2,
body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
    background-color: #333;
}

body.contraste.action-home-index .community-track-plugin_track-card-list-block .block-inner-2 {
	background-image: none;
   background-color: #fff;
}


body.contraste.action-home-index #content .tags-block .block-inner-2, body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
    border-top: 1px solid #fff;
}

body.contraste.action-home-index #content .box-1 .block-title span, body.contraste.action-environment_design-index #content .box-1 .block-title span {
    color: #000;
    background-color: white;
}

body.contraste #accessibility span {
	background: #fff !important;
	color: #000 !important;
}

body.contraste #content .box .block-title {
    background-color: #333;
}

body.contraste.action-home-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-environment_design-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-home-index #content .box .block-title,
body.contraste.action-environment_design-index #content .box .block-title,
body.contraste .container-block-plugin_container-block .block .block-inner-2,
body.contraste #footer-content {
    background-color: transparent;
}

body.contraste #content .link-list-block li a {
    background-color: #EEEFFF;
    background-color: #000;
	 color: white;
}

body.contraste #content .link-list-block li a.link-this-page,
body.contraste #content .link-list-block li a:hover {
    background-color: #333;
	 color: #ffff00;
}

body.contraste #content .profile-info-options input.button.with-text,
body.contraste #content .profile-info-options a.button.with-text{
    background-color: #333;
	 color: #ffff00;
}

body.contraste.action-content_viewer-view_page #content .box-1 .block-title span {
	background-color: #000;
	color: white;
}

body.contraste #content .article-comment {
    background: none repeat scroll 0 0 #000;
}

body.contraste #comments_list .comment-info,
body.contraste #comments_list .comment-created-at,
body.contraste #footer-license a,
body.contraste #footer-license p{
	color: white;
}

body.contraste #comments_list .comment-wrapper-8 {
    background-color: #000000;
    background-image: none;
    border: 1px solid #DDDDDD;
}

body.contraste #comments_list a.display-comment-form,
body.contraste #content input.button, body.contraste #content a.button {
    background-color:#333;
}

body.contraste #content .recent-documents-block li{
    background-color:#000;
}

body.contraste #content .track_list .item_card,
body.contraste #content .track_list .item_card .track_stats .comments .counter,
body.contraste #content .track_list .item_card .track_stats .hits .counter {
	background-color: #333;
	color: #fff;
}
body.contraste #content .track_list .item_card .track_content .lead {
	color: #fff;
}

body.contraste .ui-widget-content {
	background-color: #000;
	color: #fff;
}

body.contraste .ui-state-active,
body.contraste .ui-widget-content .ui-state-active,
body.contraste .ui-widget-header .ui-state-active {
	 background-image: none;
	 background-color: #000;
}

body.contraste #footer-logos {
    background-color: #222;
}

body.contraste #theme-header .header-content #link-faq a {
    border-right: 1px solid #ffF;
}

body.contraste #portal-siteactions {
    border-bottom: 1px dotted #fff;
}

body.contraste #social-icons #sb_face {
    background-image: url("images/icone-branco-facebook.png");
}
body.contraste #social-icons #sb_face:hover {
    background: url("images/icone-branco-facebook.png") 0 20px;
}

body.contraste #social-icons #sb_youtb {
    background-image: url("images/icone-branco-youtube.png");
}
body.contraste #social-icons #sb_youtb:hover {
    background: url("images/icone-branco-youtube.png") 0 20px;
}

body.contraste #social-icons #sb_tweet {
    background-image: url("images/icone-branco-twitter.png");
}
body.contraste #social-icons #sb_tweet:hover {
    background: url("images/icone-branco-twitter.png") 0 20px;
}

body.contraste #social-icons #sb_flickr {
    background-image: url("images/icone-branco-flickr.png");
}
body.contraste #social-icons #sb_flickr:hover {
    background: url("images/icone-branco-flickr.png") 0 20px;
}
body.contrast #footer-content *,
body.contrast #top-header { background: #000; color: #FFFFFF !important; }

