<div id="footer-content">
<div id="voltar-topo">
        <a href="#wrap-1"><span class="ui-icon ui-icon-triangle-2-s"></span>Voltar para o topo</a>
</div>

<div id="footer-columns">
  <div class="footer-inner">
  <div class="column column-0">

    <dl class="footerSection"><dt class="footerSectionHeader">Portal da Juventude</dt>
      <dd class="footerSectionBody">
        <a href="/juventude/sobre-o-portal">Sobre o portal</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/site/terms">Termos de Uso</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventude/orgaos-responsaveis">Órgãos responsáveis</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/legislacao">Legislação</a>
      </dd>
     </dl>
     <dl class="footerSection">
      <dd class="footerSectionBody">
        <a href="/participatorio">Participatório</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/conjuve">Conjuve</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/coijuv">Coijuv</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventudeviva">Juventude Viva</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/estacaojuventude">Estação Juventude</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventuderural">Juventude Rural</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/internacional">Política Internacional</a>
      </dd>
    </dl></div>
  <div class="column categories column-1">
      <dl class="footerCategories footerSection"><dt class="footerSectionHeader">Assuntos</dt>
    <dd class="footerSectionBody category_seguranca">
      <a href="/cat/seguranca" style="color: #000000" title="Segurança">Segurança</a>
    </dd>
    <dd class="footerSectionBody category_educacao">
      <a href="/cat/educacao" style="color: #000000" title="Educação">Educação</a>
    </dd>
    <dd class="footerSectionBody category_cultura">
      <a href="/cat/cultura" style="color: #000000" title="Cultura">Cultura</a>
    </dd>
    <dd class="footerSectionBody category_comunicacao-e-tecnologia">
      <a href="/cat/comunicacao-e-tecnologia" style="color: #000000" title="Comunicação e Tecnologia">Comunicação e Tecnologia</a>
    </dd>
    <dd class="footerSectionBody category_trabalho-e-renda">
      <a href="/cat/trabalho-e-renda" style="color: #000000" title="Trabalho e Renda">Trabalho e Renda</a>
    </dd>
    <dd class="footerSectionBody category_esporte-e-lazer">
      <a href="/cat/esporte-e-lazer" style="color: #000000" title="Esporte e Lazer">Esporte e Lazer</a>
    </dd>
    <dd class="footerSectionBody category_participacao-social">
      <a href="/cat/participacao-social" style="color: #000000" title="Participação Social">Participação Social</a>
    </dd>
    <dd class="footerSectionBody category_diversidade-e-igualdade">
      <a href="/cat/diversidade-e-igualdade" style="color: #000000" title="Diversidade e Igualdade">Diversidade e Igualdade</a>
    </dd>
    <dd class="footerSectionBody category_campo-e-cidade">
      <a href="/cat/campo-e-cidade" style="color: #000000" title="Campo e Cidade">Campo e Cidade</a>
    </dd>
    <dd class="footerSectionBody category_meio-ambiente">
      <a href="/cat/meio-ambiente" style="color: #000000" title="Meio Ambiente">Meio Ambiente</a>
    </dd>
    <dd class="footerSectionBody category_saude">
      <a href="/cat/saude" style="color: #000000" title="Saúde">Saúde</a>
    </dd>
    <dd class="footerSectionBody category_internacional">
      <a href="/cat/internacional" style="color: #" title="Internacional">Internacional</a>
    </dd>
</dl>
   </div>
  <div class="column column-2">

    <dl class="footerSection"><dt class="footerSectionHeader">Serviços</dt>
      <dd class="footerSectionBody">
        <a href="/ajuda">Perguntas frequentes</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventude/programas">Programas da Juventude</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/profile/juventude/events">Eventos</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventude/editais">Editais</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventude/imprensa">Imprensa</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/contact/juventude/new">Contato</a>
      </dd>
    </dl></div>
  <div class="column column-2">

    <dl class="footerSection"><dt class="footerSectionHeader">Redes Sociais</dt>
      <dd class="footerSectionBody">
        <a href="https://www.facebook.com/SecretriaNacionaldeJuventude">Facebook</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="http://twitter.com/snjuventude">Twitter</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="https://www.youtube.com/user/canaljuventude">Youtube</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="https://www.flickr.com/photos/juventudenacional">Flickr</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="http://issuu.com/participatorio/stacks/6c2cbd1dbf8a418390547c9a94b7a545">Issuu</a>
      </dd>
    </dl></div>
  <div class="column column-3">

    <dl class="footerSection"><dt class="footerSectionHeader">RSS</dt>
      <dd class="footerSectionBody">
        <a href="/ajuda/o-que-e-rss">O que é?</a>
      </dd>
      <dd class="footerSectionBody">
        <a href="/juventude/feed">Assine</a>
      </dd>
    </dl></div>
	<div class="clear"></div>
   </div><!-- .footer-inner -->
</div><!-- #footer-columns -->

  <div id="footer-brasil"></div>

  <div id="footer-license">
	<p class="addrs"><strong>Secretaria Nacional de Juventude</strong><br/>
Telefone: (61) 3411.4366 - juventude@presidencia.gov.br<br/>
Pavilhão das Metas, Via VN1 - Leste - s/nº Praça dos Três Poderes - Zona Cívico Administrativa, CEP:70150-908 - Brasília, DF, Brasil</p>
    <p>
      Este site utiliza o software livre <a href="http://noosfero.org">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License, versão 3 ou superior.</a>
    </p>
  </div><!-- end id="footer-license" -->
</div>

<script defer="defer" src="https://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u="https://estatisticas.presidencia.gov.br/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "31"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- Piwik -->
