

<div id="barra-brasil">
  <a href="http://brasil.gov.br" style="background:#7F7F7F; height: 20px; padding:4px 0 4px 10px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white; ">Portal do Governo Brasileiro</a>
</div>

<div class="header-content">

 <div id="top-header">
  <div>
    <ul id="accessibility">
      <li>
        <a id="link-conteudo" href="#content" accesskey="1">
          Ir para o conteúdo
          <span>1</span>
        </a>
      </li>
      <li>
        <a id="link-navegacao" href="#sobre" accesskey="2">
          Ir para o menu
          <span>2</span>
        </a>
      </li>
      <li>
        <a id="link-buscar" href="#portal-searchbox" accesskey="3">
          Ir para a busca
          <span>3</span>
        </a>
      </li>
      <li>
        <a id="link-rodape" href="#theme-footer" accesskey="4">
          Ir para o rodapé
          <span>4</span>
        </a>
      </li>
    </ul>
    <ul id="portal-siteactions">
      <li id="siteaction-accessibility">
        <a href="/ajuda/acessibilidade" title="Acessibilidade">Acessibilidade</a>
      </li>
      <li id="siteaction-contraste">
        <a href="#" title="Alto Contraste">Alto Contraste</a>
      </li>
      <li id="siteaction-mapadosite">
        <a href="/ajuda/mapa-do-site" title="Mapa do Site">Mapa do Site</a>
      </li>
     </ul>
     <ul id="portal-lang">
      <li>
        <a href="?lang=pt" class="flag-pt" alt="Português" title="Português">PT</a>
      </li>
      <li>
        <a href="?lang=en" class="flag-en" title="English" alt="English">EN</a>
      </li>
      <li>
        <a href="?lang=es" class="flag-en" title="Español" alt="Español">ES</a>
      </li>
    </ul>
   </div>
 </div><!-- #top-header -->

  <div role="banner" id="header">
    <div id="banner">
      <div id="logo">
    	    <a id="portal-logo" title="Portal da Juventude - Secretaria Nacional de Juventude" href="/">
    	            <span id="portal-title-1">Portal da</span>
    	            <h1 id="portal-title" class="corto">Juventude</h1>
    	            <span id="portal-description">Secretaria Nacional de Juventude</span>
    	    </a>
    	</div>

<div id="searchbox-and-social">
  <div id="searchbox">
    	<div role="search" id="portal-searchbox">
    	  <form action="/search">
    	    <input type="text" autocomplete="off" name="query" size="18" title="Buscar no Site" placeholder="Buscar no Site" accesskey="3" class="searchField" id="searchGadget">
    	    <input type="submit" class="searchButton" value="Buscar">
        </form>
    	</div>
    </div>
<div id="social">
          <div id="social-icons">
            <ul>
              <li>
                <a id="sb_flickr" title="Flickr" href="https://www.flickr.com/photos/juventudenacional"><span>Flickr</span></a>
              </li>
              <li>
                <a id="sb_face" title="Facebook" href="http://facebook.com/SecretariaNacionaldeJuventude"><span>Facebook</span></a>
              </li>
              <li>
                <a id="sb_youtb" title="Youtube" href="https://www.youtube.com/user/canaljuventude"><span>Youtube</span></a>
              </li>
              <li>
                <a id="sb_tweet" title="Twitter" href="http://twitter.com/SNJuventude"><span>Twitter</span></a>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>
</div>
  <div id="sobre">
   <div>
     <ul id="duvidas">
      <li>
        <a href="/ajuda/duvidas-frequentes">Perguntas frequentes</a>
      </li>
      <li>
        <a href="/contact/juventude/new">Contato</a>
      </li>
      <li class="last-item">
        <a href="/juventude/imprensa" title="Imprensa">Imprensa</a>
      </li>
    </ul>
    <ul id="sobre-portal">
      <li>
        <a href="/juventude/sobre-o-portal" title="Sobre o portal">Sobre o portal</a>
      </li>
      <li>
        <a href="/juventude/orgaos-responsaveis" title="Órgaos responsáveis">Órgãos responsáveis</a>
      </li>
      <li>
        <a href="/legislacao" title="Legislação">Legislação</a>
      </li>
      <li class="last-item">
        <a href="/participatorio" title="Participatório">Participatório</a>
      </li>
     </ul>
   </div>
  </div><!-- #sobre -->
</div><!-- .header-content -->
